<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - QBCA</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li><a href="@Url.Action("Settings", "Home")">Settings</a></li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
