@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "R&D Dashboard";
}
<h1>Welcome, R&D Staff</h1>
<p>Here you can manage examination questions and perform semantic analysis.</p>
