@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Examination Department Dashboard";
}
<h1>Welcome, Head of Examination Department</h1>
<p>Supervise examination processes and approve final question sets.</p>
